#Ignore flex settings
*.settings/
*.flexProperties
*.actionScriptProperties
#Ignore flex build directories
bin-debug/
bin-release/
Arguments/bin-debug/
Arguments/bin-release/
libs/flexunit-*
generated/
#Ignore update script
update.scr
